<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" type="stdout">
    <Appenders>
        <RollingFile name="atm_logs"
                     filename="atm_client_logs.log"
                     filePattern="atm_client_logs-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{dd.MM.yyyy hh:mm:ss.SSS} [%t] %logger {%-5level} %msg%n%throwable"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000 kB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="true">
            <AppenderRef ref="atm_logs"/>
        </Root>
    </Loggers>
</Configuration>

        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<Configuration status="WARN">-->
        <!--    <Appenders>-->

        <!--        <RollingFile name="LogToRollingFile" fileName="/home/genilot/Desktop/All Projects/Java Projects/Log_test/app_info.log"-->
        <!--                     filePattern="app_info-%d{yyyy-MM-dd}.log">-->
        <!--            <PatternLayout>-->
        <!--                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <TimeBasedTriggeringPolicy interval="1" modulate="true" />-->
        <!--                <SizeBasedTriggeringPolicy size="10 MB"/>-->
        <!--            </Policies>-->
        <!--        </RollingFile>-->
        <!--    </Appenders>-->
        <!--    <Loggers>-->
        <!--        <Logger name="com" level="debug" additivity="false">-->
        <!--            <AppenderRef ref="LogToRollingFile"/>-->
        <!--        </Logger>-->
        <!--        <Root level="error">-->
        <!--            <AppenderRef ref="LogToRollingFile"/>-->
        <!--        </Root>-->
        <!--    </Loggers>-->
        <!--</Configuration>-->